
	<h1> <%= pluralize(@wines.size, 'wine') %> </h1>
	<%= page_entries_info @wines %>
	
	<ol>
		<% @wines.each do |wine| %>
		<li><%=link_to(wine.name, wine)%> by <%= wine.name%>
	<%= format_average_rating(wine) %>
	<% if wine.log_entries.any? %>
	(out of <%= pluralize(wine.log_entries.size. 'log_entry') %>)
	<% end %>
</li>
		<% end %>
	</ol>
	<%= paginate @wines %>

	<!--<%= link_to 'New Wine', new_wine_path %> -->

